.home-card{
    max-width: 400px;
    height: max-content;
    margin: 26px auto;
    border-radius: 5px;
}
.userName{
    padding: 10px;
    font-weight: 500;

}
.user_details{
    display: flex; 
    padding: 10px 5px; 
}

.user_details img{
    width: 40px;
    height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(241, 93, 192);
}
#delete_icon{
    position: absolute;
  
   right: 0;
   padding: 10px 5px;
}