.home-card{
    max-width: 400px;
    height: max-content;
    margin: 5px auto;
    border-radius: 5px;
}
.userName{
    padding: 10px;
    font-weight: 500;
   
    

}
.userName:hover{
    color: gray;
}
.user_details{
    display: flex; 
    padding: 10px 5px; 
}

.user_details img{
    width: 40px;
    height: 40px;
  border-radius: 50%;
  border: 2px solid rgb(241, 93, 192);
}
#delete_icon{
    position: absolute;
  
   right: 0;
   padding: 10px 5px;
}

.material-icons:hover{
    color: gray;
}
.userfield{
    display: flex;
    flex-direction: column;
}
.userfield h6{
    margin: 0;
}
.date{
    margin-left: 10px;
}
h6{
    font-weight: 500;
    font-size: medium;
}
#title{
    font-weight: 400;
    font-size: medium;
}
.show_comments{
  color: gray;
  cursor: pointer;
}
.commentDate{
    color: grey;
    font-size: small;
    font-weight: 400;
}
.loadingMain{
    height: 100vh;
    width: 100vw;
}
.loadingImgContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 200px;
    
    
}




