
.main{
    max-width: 550px;
    margin: 0px auto;
}
.profilePic{
    width: 160px;
    height: 160px;
    border-radius: 50%;
  }
  .main_container{
    border-bottom: 1px solid grey;
    margin: 18px 0px;
  }
  .progress{
    margin: 0;
  }

.container{
    display: flex;
    justify-content: space-around;
    margin: 18px 0px;
   
    width: 100%;
}  

.infoContainer{
    display: flex;
    width: 108%;
    justify-content: space-between;
    

}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}
.item{
  width: 32.5%;
  margin-bottom: 4px;
  height: 200px;
}
.edit_pic_btn{
   margin: 10px 0 10px 55px;
   
}

